In [29]:
import pandas as pd

In [30]:
df_b = pd.read_csv('../data/processed/billionaires.csv', index_col = False)

In [31]:
df_g = pd.read_csv('../data/processed/gdp.csv', index_col = False)

In [32]:
df = pd.merge(df_b, df_g, on = 'Country', how = 'inner')

In [33]:
df.head()

,id,worth in Billion USD,age,gender,Country,image,name,industry,company_name,GDP in Billions USD
0,5390,112.0,54.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Jeff Bezos,Technology,Amazon,20494.1
1,6732,48.8,45.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Larry Page,Technology,Google,20494.1
2,9671,46.4,70.0,None,United States,https://specials-images.forbesimg.com/imageser...,Jim Walton,Fashion & Retail,Walmart,20494.1
3,2676,29.6,80.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Phil Knight,Fashion & Retail,Nike,20494.1
4,9310,21.7,65.0,Male,United States,https:http://specials-images.forbesimg.com/ima...,Paul Allen,Technology,"Microsoft, investments",20494.1

In [34]:
df.to_csv('../data/processed/final.csv',index = False)